<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataModel" class="com.hn6833.basic.model.DataModel"/>
    <bean id="dataService" class="com.hn6833.basic.Service.DataService">
        <property name="dataModel" ref="dataModel"/>
    </bean>
    <bean id="dataAction" class="com.hn6833.basic.action.DataAction">
        <property name="dataService" ref="dataService"/>
    </bean>

</beans>